<div class="container">

  <%= simple_form_for @list do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
