<div class="container">

  <h1><%=@list.name%></h1>

  <ul>
    <% @list.bookmarks.each do |bookmark| %>
    <li>
    <strong><%= Movie.find(bookmark.movie_id)[:title] %> </strong><br>
    <%= bookmark.comment %> <br>
    <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}%>
    </li>
    <% end %>
  </ul>

  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
  <br>
  <%= link_to "Back to full list", lists_path %>
</div>
